<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="card">
            <form method="post" action="/login" class="form_input">
            <div class="create_account">Login to your account</div>
            <div class="common">
                Email
                <input class="fields" type="email" name="email" id="email" placeholder="rajeshg8726@gmail.com">
            </div>
            <div class="common">
                Password 
                <input class="fields" type="password" name="password" id="password" placeholder="**********">
            </div>

            <div class="rem">
                <div class="checkbox"><input type="checkbox">Remember Me</div>
            </div>

            <button class="sign" type="submit">Login</button>

            <div class="register">New to MyApp?<a href="/register">Sign Up</a></div>
        </form>
        </div>
</body>
</html>
