<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/integration.css">
    <title>Register</title>
</head>
<body>
    <div class="card">
        <div class="heading"><p>Facebook Page Integration</p></div>
        <div class="heading"><p>Integrated Page: <b>Amazon Business</b> </p></div>
        <button class="sign" type="submit">Delete Integration</button>
         <button class="sign" type="submit">Reply to message</button>

    </div>
    
</body>
</html>