<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="card" >
        <form method="post" action="/register" >
        <div class="create_account">Create Account</div>
        <div class="common">
            Name 
            <input class="fields" type="text" name="name" id="name" placeholder="Rajesh Gupta">
        </div>
        <div class="common">
           Email
            <input class="fields" type="email" name="email" id="email" placeholder="rajeshg8726@gmail.com">
        </div>
        <div class="common">
            Password 
            <input class="fields" type="password" name="password" id="password" placeholder="**********">
        </div>

        <div class="rem">
            <div class="checkbox"><input type="checkbox">Remember Me</div>
            
         </div>

         <button class="sign" type="submit">Sign Up</button>

         <div class="register" >Already have an account?<a href="/">Login</a> </div>

        </form>
        </div>
</body>
</html>